In [14]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500) 
merged = pd.read_csv('merged(sr_processed,final,corrected2).csv')

In [15]:
predy1 = pd.read_csv('y1_2019preds.csv',header=None)

In [16]:
predy2 = pd.read_csv('y2_2019preds.csv',header=None)

In [17]:
predy1.columns = ['y1']

In [18]:
#predy1[predy1['y1'] == 1]

In [19]:
predy2.columns = ['y2']

In [20]:
#predy2[predy2['y2'] == 1]

In [21]:
srno_series = pd.Series(merged['srno'].unique())

In [22]:
srno_series

0            53385
1            55497
2            69693
3            69728
4            72950
            ...
235017    11111345
235018    11115879
235019    11115901
235020    11117731
235021    11118405
Length: 235022, dtype: int64

In [23]:
combination = pd.concat([srno_series,predy1, predy2], axis=1)

In [24]:
combination

                 0   y1   y2
0          53385.0  0.0  0.0
1          55497.0  0.0  0.0
2          69693.0  0.0  0.0
3          69728.0  0.0  0.0
4          72950.0  0.0  0.0
...            ...  ...  ...
235018  11115879.0  0.0  0.0
235019  11115901.0  0.0  0.0
235020  11117731.0  0.0  0.0
235021  11118405.0  0.0  0.0
235022         NaN  0.0  0.0

[235023 rows x 3 columns]

In [25]:
#不知為什麼多一行，刪掉
combination.drop(combination.tail(1).index,inplace=True)

In [26]:
combination.columns = ['srno','y1','y2']

In [27]:
combination['srno'] = combination['srno'].astype(int)

In [28]:
combination

            srno   y1   y2
0          53385  0.0  0.0
1          55497  0.0  0.0
2          69693  0.0  0.0
3          69728  0.0  0.0
4          72950  0.0  0.0
...          ...  ...  ...
235017  11111345  0.0  0.0
235018  11115879  0.0  0.0
235019  11115901  0.0  0.0
235020  11117731  0.0  0.0
235021  11118405  0.0  0.0

[235022 rows x 3 columns]

In [29]:
#combination[combination['y2']==1]

In [30]:
srno_series

0            53385
1            55497
2            69693
3            69728
4            72950
            ...
235017    11111345
235018    11115879
235019    11115901
235020    11117731
235021    11118405
Length: 235022, dtype: int64

In [31]:
#combination[combination['y2']==1]

In [32]:
combination.to_csv('submission(final).csv',index=False)